<navbar>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
				    <ul class="nav">
				        <li><%= link_to "Home", root_path %></li>
				            <li><%= link_to "Following", '#' %></li>
				            <li><%= link_to "Profile", '#' %></li>
				        </ul>
				        <button id="postThread" name="Post_Thread" class="btn btn-primary">Post Thread</button>
				</div>
			</div>
		</div>
	</div>
</navbar>